default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  host: <%= ENV['DB_HOST'] || '127.0.0.1' %>
  port: 3306
  username: <%= ENV['DB_USER'] || 'root' %>
  password: <%= ENV['DB_PASSWORD'] || '' %>

development:
  <<: *default
  database: grape_bootstrap_development

test:
  <<: *default
  database: grape_bootstrap_test

