default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  host: 127.0.0.1
  port: 3306
  username: root
  password:

development:
  <<: *default
  database: grape_bootstrap_development

test:
  <<: *default
  database: grape_bootstrap_test

